<nav class="navbar fixed-top navbar-expand-lg navbar-light header-area navbar-dark"> <a class="navbar-brand" routerLink="/cards" routerLinkActive="active"><img class="logo" src="assets/images/logo/maybate logo.svg" alt="Responsive Design"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"> <a class="nav-link" href="features.html">Data<span class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="/cards" routerLinkActive="active">Cloud</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="/grid" routerLinkActive="active">Streaming</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a> </li>
      </ul>
   </div>
</nav>
