<div class="container-fluid background"> 
    <div class="container-fluid header">
      <div class="container grid"> 
        <img src="assets/images/gallery/hero.jpg" class="img-fluid" alt=""/>
        <div class="jumbotron">
          <h1 class="display-4">Responsive Design with Bootstrap</h1>
          <p>Create websites that look great on any screen!</p>
          <p class="lead"> <a class="btn btn-primary btn-lg" href="#" role="button">Read More</a></p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" style="padding-top: 25px;">
        <div class="card col-md-4 card-custom"> <img class="card-img-top" src="assets/images/gallery/card1.jpg" alt="Mobile">
            <div class="card-body">
              <h2 class="card-title">Mobile</h2>
              <p class="card-text">More than ever before web pages are viewed on mobile browsers.</p>
              <a href="#" class="btn btn-info btn-lg">Go Mobile</a></div>
        </div>
        <div class="card col-md-4 card-custom"> <img class="card-img-top" src="assets/images/gallery/card2.jpg" alt="Mobile">
            <div class="card-body">
              <h2 class="card-title">Tablet</h2>
              <p class="card-text">A good percentage of web pages are viewed on tablet.</p>
          <a href="#" class="btn btn-info btn-lg">Go Tablet</a></div>
        </div>
        <div class="card col-md-4 card-custom"> <img class="card-img-top" src="assets/images/gallery/card3.jpg" alt="Laptop">
            <div class="card-body">
              <h2 class="card-title">Laptop & Beyond</h2>
              <p class="card-text">Desktop views are far less than they used to be.</p>
              <a href="#" class="btn btn-info btn-lg">Go Large</a></div>
        </div>
      </div>
    </div>
  </div>
