<div class="viewport">
    <div class="container">
      <div class="row row-props">
        <div class="col-lg-3 col-md-6 cell"><img src="assets/images/icons/icon-responsive.svg" alt=""/>
          <h2>Responsive</h2>
          <p>This is the content for Layout P Tag</p>
        </div>
        <div class="col-lg-3 col-md-6 cell"><img src="assets/images/icons/icon-flexible.svg" alt=""/>
          <h2>Flexible</h2>
          <p>This is the content for Layout P Tag</p>
        </div>
        <div class="col-lg-3 col-md-6 cell"><img src="assets/images/icons/icon-html5.svg" alt=""/>
          <h2>HTML5</h2>
          <p>This is the content for Layout P Tag</p>
        </div>
        <div class="col-lg-3 col-md-6 cell"><img src="assets/images/icons/icon-flight.svg" alt=""/>
          <h2>Flight Ready</h2>
          <p>This is the content for Layout P Tag</p>
        </div>
      </div>
    </div>
  </div>