<div class="container-fluid header-background">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-white">Interactivity Examples</h1>
        </div>
        <div class="col-md-6">
          <button id="btn-launch" type="button" class="btn btn-info btn-lg float-right">LAUNCH ALERT</button>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid tab-background">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item"> <a id="tab-1" class="nav-link" href="#">Link Example</a></li>
      <li class="nav-item"> <a id="tab-2" class="nav-link active" href="#">Form Example</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div id="view-1" class="view view-hidden">
    <h2 class="display-4">JavaScript | jQuery</h2>
    <p>Learn more about jQuery at the following link</p>
    <button id="btn-jquery" type="button" class="btn btn-link">jQuery Documentation</button>
  </div>
  <div id="view-2" class="view">
    <form action="#" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
        <small id="emailHelp1" class="form-text text-muted">We'll never share your email with anyone else.</small> </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="password" class="form-control" id="username" placeholder="Username">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
  </div>
</div>
